<div class="wrapper">
  <mat-card *ngIf="!(isFetchingArticle$ | async) else loading">
    <mat-card-header>
      <img mat-card-avatar [src]="(article$ | async)?.imgUrl" *ngIf="(article$ | async)?.imgUrl">
      <mat-card-title>{{(article$ | async)?.name}}</mat-card-title>
      <mat-card-subtitle>{{(article$ | async)?.modified | date:'mediumDate'}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <br/>
      <br/>

      <app-share></app-share>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
