<div class="wrapper">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="me"></div>
      <mat-card-title>About el-davo</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <br/>
      <p>
        This may come as a surprise to you but my real name is in fact not el-davo. The names David Ahern however you
        can call me Dave for short. Now whats this site all about? Well I've been a software engineer
        for as long as I can remember, in that time ive worked with many technologies, so i thought it was about time I start
        sharing some of my knowledge in the hope it might help some young up and coming software developers. My current
        main two languages of choice are Javascript and Java. This website is built with angular2/angular-cli for the
        frontend and
        NodeJS for the backend. You will find some articles that might interest you below, thanks for stopping by and if
        you want to get in touch please feel free to contact me on LinkedIn or Github
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://github.com/el-davo" target="_blank">
        <button mat-button>GITHUB</button>
      </a>
      <a href="https://www.linkedin.com/in/david-ahern-02696947" target="_blank">
        <button mat-button>LINKEDIN</button>
      </a>
    </mat-card-actions>
  </mat-card>
</div>
