<div *ngIf="isBrowser">
  <share-button button="facebook"
                theme="circles-dark"
                size="-4"
                [title]="(article$ | async)?.name"
                [description]="(article$ | async)?.summary"
                [image]="(article$ | async)?.imgUrl"
                showCount="true"></share-button>
  <share-button button="twitter"
                theme="circles-dark"
                size="-4"
                [title]="(article$ | async)?.name"
                [description]="(article$ | async)?.summary"
                [image]="(article$ | async)?.imgUrl"
                showCount="true"></share-button>
  <share-button button="linkedin"
                theme="circles-dark"
                size="-4"
                [title]="(article$ | async)?.name"
                [description]="(article$ | async)?.summary"
                [image]="(article$ | async)?.imgUrl"
                showCount="true"></share-button>
  <share-button button="google"
                theme="circles-dark"
                size="-4"
                [title]="(article$ | async)?.name"
                [description]="(article$ | async)?.summary"
                [image]="(article$ | async)?.imgUrl"
                showCount="true"></share-button>
  <share-button button="reddit"
                theme="circles-dark"
                size="-4"
                [title]="(article$ | async)?.name"
                [description]="(article$ | async)?.summary"
                [image]="(article$ | async)?.imgUrl"
                showCount="true"></share-button>
  <share-button button="tumblr"
                theme="circles-dark"
                size="-4"
                [title]="(article$ | async)?.name"
                [description]="(article$ | async)?.summary"
                [image]="(article$ | async)?.imgUrl"
                showCount="true"></share-button>
  <share-button button="whatsapp"
                theme="circles-dark"
                size="-4"
                [title]="(article$ | async)?.name"
                [description]="(article$ | async)?.summary"
                [image]="(article$ | async)?.imgUrl"
                showCount="true"></share-button>
  <share-button button="telegram"
                theme="circles-dark"
                size="-4"
                [title]="(article$ | async)?.name"
                [description]="(article$ | async)?.summary"
                [image]="(article$ | async)?.imgUrl"
                showCount="true"></share-button>
  <share-button button="stumble"
                theme="circles-dark"
                size="-4"
                [title]="(article$ | async)?.name"
                [description]="(article$ | async)?.summary"
                [image]="(article$ | async)?.imgUrl"
                showCount="true"></share-button>
  <share-button button="copy"
                theme="circles-dark"
                size="-4"
                showCount="true"></share-button>
</div>
